<h1><%=Candidate.find(1).candidate_name%></h1>
<h2><%=Position.find(1).position_name%></h2>

<h3>Agenda</h3>

<h4>Technical Panel</h4>

<p>Time: 10:00 AM</p>
<p>Location: Fairmount Park</p>
<ol>
    <li>Jared Blitzstein - SSE3 </li>
    <li>Michael McLauglin - SSE4</li>
    <li>Surabhi Vibhuti - TM</li>
</ol>

<h4>Manager</h4>
<p>Time: 10:30 AM</p>
<p>Location: Devang's Office</p>

<ol>
    <li>Dennis Driscoll</li>
</ol>

<h4>Manager</h4>
<p>Time: 11:00 AM</p>
<p>Location: Dennis's Office</p>

<ol>
    <li>Devang Patel</li>
</ol>